<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'トレーニング開始', new_training_path, class: "text-center" %>
      <%= month_calendar events: @trainings do |date, training| %>
      <%= date %>


      <% training.each do |training| %>
      <div>
        <%= link_to training.start_time.strftime("%H:%M"), training_path(training) %>
        <%=  %>
        <%= link_to "削除",training_path(training.id), class:"btn btn-outline-danger  btn-sm ", method: :delete %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>