<!--トレーニング内容画面（カレンダー）-->
<div class="container">
  <div class="row my-5">
    <div class="col">
      <h1 class="text-center">トレーニング内容</h1>
      <h2 class="text-center"><%= @training.start_time.strftime("%Y-%m-%d") %></h2>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-10 mx-auto">
      <h2 class="text-center">トレーニング入力</h2>
      <%= form_with model: @training_contents, url: training_contents_path, local:true do |f| %>
      <%= f.hidden_field :training_id, value: @training.id %>
      <table class="table text-center">
        <tr><th>menu</th><th>weight</th><th>回数</th><th>set数</th></tr>
        <tr>
          <th>
            <%= f.collection_select :menu_id, Menu.all, :id, :training_menu  %>
          </th>
          <th>
            <%= f.number_field :weight, min: 1, max: 999, autocomplete: "off" %>
          </th>
          <th>
            <%= f.number_field :rep, min: 1, max: 99, autocomplete: "off" %>
          </th>
          <th>
            <%= f.number_field :set, min: 1, max: 99, autocomplete: "off" %>
          </th>
          <th>
            <%= f.submit "登録", class: 'btn btn-outline-info' %>
          </th>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table text-center">
        <tr><th>menu</th><th>weight</th><th>回数</th><th>set数</th></tr>
        <% @training_menu_contents.each do |training_menu_content| %>
        <tr>
          <th>
            <%= training_menu_content.menu.training_menu %>
          </th>
          <th>
            <%= training_menu_content.weight %>
          </th>
          <th>
            <%= training_menu_content.rep %>
          </th>
          <th>
            <%= training_menu_content.set %>
          </th>
          <th>
            <%= link_to "削除",training_content_path(training_menu_content.id), class:"btn btn-outline-danger  btn-sm ", method: :delete %>
          </th>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
