<!--user編集画面-->
<div class="container">
  <%= render 'layouts/errors', obj: @user %>
  <div class="row slide-bottom show">
    <div class="col-sm-12 col-md-8 col-lg-8 px-5 px-sm-0 mx-auto">
     <h2 class='my-3 py-3 text-center text-light'>My pege 情報入力</h2>
      <%= form_with model:@user, local:true do |f| %>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>プロフィール画像</label></div>
         <div class="col-sm-8 text-light"><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></div>
        </div>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>氏名</label></div>
         <div class="col-sm-4"><%= f.text_field :name,  class: 'form-control' %></div>
         <div class="col-sm-4"></div>
        </div>

        <div class="form-group row my-3">
          <div class="col-sm-4 text-light"><label>性別</label></div>
          <div class="col-sm-4 text-light">
            <div class="radio-inline">
             <%= f.radio_button :gender, :男性 %>
             <%= f.label :男性, class: "gender_label" %>
          </div>
        </div>

          <div class="col-sm-4 text-light">
           <div class="radio-inline">
           <%= f.radio_button :gender, :女性 %>
           <%= f.label :女性, class: "gender_label" %>
           </div>
          </div>
        </div>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>メールアドレス</label></div>
         <div class="col-sm-4"><%= f.text_field :email,  class: 'form-control' %></div>
         <div class="col-sm-4"></div>
        </div>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>身長</label></div>
         <div class="col-sm-4"><%= f.text_field :height,  class: 'form-control' %></div>
         <div class="col-sm-4 text-light">cm</div>
        </div>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>体重</label></div>
         <div class="col-sm-4"><%= f.text_field :body_weight,  class: 'form-control' %></div>
         <div class="col-sm-4 text-light">kg</div>
        </div>

        <div class="form-group row my-3">
         <div class="col-sm-4 text-light"><label>自己紹介</label></div>
         <div class="col-sm-8"><%= f.text_area :introduction, size: "10x5", class: 'form-control' %></div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4"><%= f.submit "変更を保存", class: 'btn btn-secondary' %></div>
          <div class="col-sm-4"></div>
        </div>
      <% end %>
  </div>
</div>