<!--user詳細画面-->
<div class="container background py-3">

  <!--ログインしているユーザと詳細なので受け取ったidが等しいかで条件分岐-->
  <% if user_signed_in? && current_user.id.to_s == params[:id] %>
  <div class="row my-5 slide-bottom show">
    <div class="col-md-12 my-3 text-center">
      <h2><i class="fas fa-paw"></i> <%= current_user.name %> is My Page</h2>
    </div>
    <div class="col-md-12 my-3 text-center">
      <span id="followings_count_<%= @user.id %>">
        フォロー数 <%= link_to @user.followings.count,user_follwings_path(@user) %>
      </span> |
      <span id="followers_count_<%= @user.id %>">
        フォロワー数 <%= link_to @user.followers.count,user_follwers_path(@user) %>
      </span>
    </div>
    <div class="col-md-12 mt-5 text-center">
     <strong>マイページ</strong> <%= link_to "情報入力", edit_user_path(@user), class:"btn-outline-secondary  btn-sm mypage_edit" %>
    </div>
  </div>
  <% else %>
  <div class="row my-5 slide-bottom show">
    <div class="col-md-12 my-3 text-center">
      <h2><i class="fas fa-paw"></i> <%= @user.name %> is My Page</h2>
      <p class="mt-5" id="follow_button_<%= @user.id %>"><%= render 'relationships/follow_button',user: @user %></p>
    </div>
    <div class="col-md-12 my-3 text-center">
      <span id="followings_count_<%= @user.id %>">
        フォロー数 <%= link_to @user.followings.count,user_follwings_path(@user) %>
      </span> |
      <span id="followers_count_<%= @user.id %>">
        フォロワー数 <%= link_to @user.followers.count,user_follwers_path(@user) %>
      </span>
    </div>
    <div class="col-md-12 mt-3 text-center">
      <%= link_to "Other Usersへ戻る", users_path, class:"btn btn-link  btn-sm mypage_edit" %>
    </div>
  </div>
  <% end %>

  <div class="row slide-bottom show">
    <div class="col-md-12" style="text-align:center;">
      <table class="table table-bordered my-3" align="center">

         <tr><td colspan="2"><%= attachment_image_tag(@user, :profile_image, :size =>'250x300', fallback: "no_image.jpg", class: "image_show") %></td></tr>

        <tr>
          <td>氏名</td>
          <td><%= @user.name %></td>
        </tr>

        <tr>
          <td>性別</td>
          <td><%= @user.gender %></td>
        </tr>

        <tr>
          <% if @user == current_user %>
          <td>メールアドレス</td>
          <td><%= @user.email %></td>
          <% end %>
        </tr>

        <tr>
          <td>身長</td>
          <td><%= @user.height %>cm</td>
        </tr>

        <tr>
          <td>体重</td>
          <td><%= @user.body_weight %>kg</td>
        </tr>

        <tr><td colspan="2">マイプロフィール</td></tr>
        <tr><td colspan="2"><%= @user.introduction %></td></tr>
      </table>
    </div>
  </div>
  <%= render 'menus/index', menus: @menus %>
</div>