<h2 class="text-center">トレーニング入力</h2>
  <%= form_with model: @training_content, url: training_training_contents_path(@training), remote:true do |f| %>
  <%= f.hidden_field :training_id, value: @training.id %>
  <table class="table text-center">
    <tr><th>menu</th><th>weight</th><th>回数</th><th>set数</th></tr>
    <tr>
      <th>
        <%= f.collection_select :menu_id, @menu, :id, :training_menu  %>
      </th>
      <th>
        <%= f.number_field :weight, min: 1, max: 999, autocomplete: "off", class: "training" %>
      </th>
      <th>
        <%= f.number_field :rep, min: 1, max: 99, autocomplete: "off", class: "training" %>
      </th>
      <th>
        <%= f.number_field :set, min: 1, max: 99, autocomplete: "off", class: "training" %>
      </th>
    </tr>
    <tr>
      <th colspan="4">
        <%= f.submit "登録", class: 'btn btn-outline-info' %>
      </th>
    </tr>
  </table>
  <% end %>

