<div class="container">
  <div class="row">
    <div class=" col about  d-flex justify-content-center ">
      <%= image_tag '8C4D7BAD-6A26-49DE-8761-7BABD9B673AC_1_105_c.jpg' %>
      <p class="my-3 py-3 ml-5 d-flex align-items-end">
      スポーツジムなどで筋トレを行う際に<br>
      トレーニング内容や重さや回数を記録し管理するためのサイトです。<br>
      体重など登録していただくことでグラフなどで<br>
      データを閲覧することができます。<br>
      また他のユーザのメニューなど参考にトレーニングの質を高められます。
      </p>
    </div>
  </div>
</div>
　<div class="row"><h3 class="mx-auto my-3">使用方法</h3></div>
  <div class="row d-flex justify-content-center">
    <div class="col-xs-5 ">
      <%= image_tag 'BC184714-7C87-430D-B5B1-86CF5F8B5B3F_1_105_c.jpg', :size =>'650x500' %>
    </div>
    <div class="col-xs-5 ml-5 d-flex align-items-center">
      <p>
      初めにマイページのプロフィールを入力して登録してください。<br>
      体重や体脂肪率を入力することで変化を確認できます。<br>
      その後トレーニングメニューを登録してください。<br>
      登録することでトレーニングの際入力するのが楽になります。
      </p>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-xs-5 mr-5 d-flex align-items-center mt-5">
      <p>
      トレーニング内容を確認することでメニューの見直しや<br>
      課題点など見つけることができます<br>
      またトレーニング中の休憩の為に１分タイマー機能がついてるので<br>
      質の高いトレーニングにご活用いただけます
      </p>
    </div>
    <div class="col-xs-5 mt-5">
      <%= image_tag 'A770D602-97F6-4BBA-B0C6-2AA7E147FD5E_1_105_c', :size =>'500x500' %>
    </div>

    <div class="row d-flex justify-content-center mt-5">
    <div class="col-xs-5 ">
      <%= image_tag 'D14C28AC-F451-4BA7-9DDC-039BD12A560B_1_105_c.jpg', :size =>'500x500' %>
    </div>
    <div class="col-xs-5 ml-5 d-flex align-items-center">
      <p>
      日々のトレーニングの手助けとして<br>
      ご利用いただいて、目標の体を手に入れるための<br>
      サポートにご活用していただけたら幸いです。
      </p>
  </div>
<div class="container">
  <div class="col text-right"><%= link_to 'トップページへ戻る', root_path %></div>
</div>
</div>