<div class="container main">
  <div class="row">
    <div class="col-12 col-md-10 my-5 text-center mx-auto slide-bottom show">
      <%= render 'trainings/index', trainings: @trainings %>
    </div>
  </div>
  <div class="my-3 pb-5 text-center h1 text-light slide-bottom show"><h1><i class="fas fa-search-minus"></i> Menu</h1></div>
    <div class="row d-flex justify-content-around">
      <div class="col-12 col-md-5 menu mb-5">
        <%= link_to home_date_path do %>
        <div class="homemenu1"></div>
         <div class="mask">
		       <div class="caption"><i class="far fa-chart-bar"></i> My Data</div>
	       </div>
	      <% end %>
      </div>
      <div class="col-12 col-md-5 menu mb-5">
        <%= link_to home_timer_path, data: { 'turbolinks': false } do %>
        <div class="homemenu2"></div>
          <div class="mask">
		        <div class="caption "><i class="far fa-clock"></i> Timer</div>
	        </div>
	      <% end %>
      </div>
    </div>

    <div class="row  d-flex justify-content-around ">
      <div class="col-12 col-md-5  menu mb-5">
        <%= link_to users_path do %>
        <div class="homemenu3"></div>
          <div class="mask">
		        <div class="caption"><i class="fas fa-users"></i> Other Users</div>
	        </div>
	      <% end %>
      </div>
    <div class="col-12 col-md-5  menu mb-5">
      <%= link_to user_path(current_user.id) do %>
      <div class="homemenu4"></div>
        <div class="mask">
		      <div class="caption"><i class="far fa-user"></i> My Page</div>
	      </div>
	    <% end %>
    </div>
  </div>
</div>