<header>
    <div class="container">
        <div id="sp-menu">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to ' Home',home_home_path,class: 'fas fa-home nav-link text-info h2' %></li>
              <li><%= link_to ' MyPage',user_path(current_user.id),class: 'fas fa-user nav-link text-info h2' %></li>
              <li><%= link_to ' Timer',home_timer_path, data: { 'turbolinks': false },class: 'far fa-clock nav-link text-info h2'%></li>
              <li><%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-info h2' %></li>
            <% else %>
              <li><%= link_to ' Home',root_path,class: 'fas fa-home nav-link text-info h2' %></li>
              <li><%= link_to ' About',home_about_path,class: 'fas fa-link nav-link text-info h2' %></li>
              <li><%= link_to ' sign up', new_user_registration_path,class: 'fas fa-user-plus nav-link text-info h2' %></li>
              <li><%= link_to ' login', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-info h2'%></li>
            <% end %>
          </ul>
        </div>

        <div id="hm-icon">
          <a class="menu-trigger" >
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
    </div>
    <div class="header" id="theTarget">
      <div class="image1"><p class= 'top-page-header'><a class="navbar-brand " href="/"></a></p></div>
      <div class="image2"><p class= 'top-page-header'><a class="navbar-brand " href="/"></a></p></div>
      <div class="image3"><p class= 'top-page-header'><a class="navbar-brand " href="/"></a></p></div>
      <div class="image4"><p class= 'top-page-header'><a class="navbar-brand " href="/"></a></p></div>
      <div class="image5"><p class= 'top-page-header'><a class="navbar-brand " href="/"></a></p></div>
    </div>
</header>

<!--スマホサイズ時メニューバー表示 -->
<ul class=" bottom-nav fixed-bottom w-100 shadow-lg list-unstyled list-group list-group-horizontal text-center">
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_date_path do %>
      <p><i class="far fa-chart-bar"></i></p>
    <% end %>
  </button>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_timer_path, data: { 'turbolinks': false } do %>
      <p><i class="far fa-clock"></i></p>
    <% end %>
  </button>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to users_path do %>
      <p><i class="fas fa-users"></i></p>
    <% end %>
  </button>
  <% if user_signed_in? %>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to user_path(current_user.id) do %>
      <p><i class="far fa-user"></i></p>
    <% end %>
  </button>
  <% else %>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_about_path do %>
      <p><i class="fas fa-link "></i></p>
    <% end %>
  </button>
  <% end %>
</ul>
