<header>
  <nav class="navbar navbar-dark fixed-top navbar-expand-lg header-color">
    <div class="container-fluid">
        <div class="topfont">
          <%= link_to root_path, class: "navbar-brand text-white" do %>
          <div class="logo"></div>

          <% end %>
        </div>
        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <!-- ナビゲーションメニュー -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li><%= link_to ' Home',home_home_path,class: 'nav-link text-white h4' %></li>
              <li><%= link_to ' MyPage',user_path(current_user.id),class: 'nav-link text-white h4' %></li>
              <li><%= link_to ' Timer!',home_timer_path, data: { 'turbolinks': false },class: 'nav-link text-white h4'%></li>
              <li><%= link_to ' logout', destroy_user_session_path, method: :delete,class: 'nav-link text-white h4' %></li>
            <% else %>
              <li><%= link_to ' Home',root_path,class: 'nav-link text-white h4' %></li>
              <li><%= link_to ' About',home_about_path,class: 'nav-link text-white h4' %></li>
              <li><%= link_to ' sign up', new_user_registration_path,class: 'nav-link text-white h4' %></li>
              <li><%= link_to ' login', new_user_session_path ,class: 'nav-link text-white h4'%></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</header>

<!--スマホサイズ時メニューバー表示 -->
<ul class=" bottom-nav fixed-bottom w-100 shadow-lg list-unstyled list-group list-group-horizontal text-center">
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_date_path do %>
      <p><i class="far fa-chart-bar"></i></p>
    <% end %>
  </button>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_timer_path, data: { 'turbolinks': false } do %>
      <p><i class="far fa-clock"></i></p>
    <% end %>
  </button>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to users_path do %>
      <p><i class="fas fa-users"></i></p>
    <% end %>
  </button>
  <% if user_signed_in? %>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to user_path(current_user.id) do %>
      <p><i class="far fa-user"></i></p>
    <% end %>
  </button>
  <% else %>
  <button class="mx-auto list-group-item list-group-item-action">
    <%= link_to home_about_path do %>
      <p><i class="fas fa-link "></i></p>
    <% end %>
  </button>
  <% end %>
</ul>
